.nav {
	@apply bg-card h-screen p-4 flex flex-col justify-between;
}

/* Nav items */

.nav-radio {
	display: none;
}

.nav-radio:checked + label {
	background-position: left;
	color: white;
}

.nav-label {
	color: rgb(255, 255, 255);
	grid-template-columns: 50px 1fr;
	align-items: center;
	width: 100%;
	cursor: pointer;
	background: linear-gradient(to left, #1d1d41 50%, #4d43e4 49%) right;
	background-size: 200%;
	transition: 0.5s ease-out;

	@apply flex p-4 rounded-lg;
}

.nav-label > p {
	@apply pl-4;
}

.profile-panel {
	@apply grid grid-cols-[0.1fr,0.8fr,0.1fr] items-center text-white w-full;
}
